beautifulsoup4==4.12.0
gym==0.26.2
pydantic==1.10.7
python-dotenv==1.0.0
requests==2.28.2
python-leetcode==1.2.1
astunparse==1.6.3
pandas==1.5.3
pytest==7.4.0

# LLM
langchain==0.0.268
termcolor==0.27.8
openai==2.3.0